

<h3>編集ページ</h3>
<h3><%= link_to 'トップページへ戻る', root_path%></h3>

<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">検査情報の編集</h2>
      <%# 部分テンプレートでフォームを表示する %>
      <%= render 'form' %>
    </div>
  </div>
</div>
<br>
<%= link_to '戻る', :back%>