<div class="contents-all">
<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <div class="page-heading">検査情報の編集</div>
      <%= render 'form_edit' %>
    </div>
  </div>
</div>
<br>
<%= link_to '戻る', :back%>
</div>