<%= render "shared/header" %>

<h3>登録ページ</h3>
<h3><%= link_to 'トップページへ戻る', root_path%></h3>

<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規登録</h2>
      <%# 部分テンプレートでフォームを表示する %>
      <%= render 'form' %>
    </div>
  </div>
</div>
<br>
<%= link_to '戻る', :back%>