<div class="contents-all">

<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <div class="page-heading">新規登録</div>
      <%= render 'form' %>
    </div>
  </div>
</div>
<br>
<%= link_to '戻る', :back%>
</div>