<div class="contents-all">

<%= render "imagings/imaging" %>

    <%= link_to '削除', imaging_condition_path(@imaging.conditions), method: :delete %>


<h3><%= link_to '戻る', :back %></h3>

</div>