* {
  box-sizing: border-box;
  color: #f0e4e4;
}
body{
  background-image: linear-gradient(to top, #524c4c, #2a2929);
  color: #f0e4e4;
}

.top-page-header {
  width: 100vw;
  height: 100px;
  background-image: linear-gradient(to top, #252525, #1d1d1d);
  color: #f0e4e4;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}

.lists-header a{
  text-decoration: none;
  color: #252525;
}

.lists-header {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.devise-header {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-left: 40px;
}

.devise-title{
  font-size: 24px;
  color: #252525;
  font-weight: 200;
  padding: 16px 20px;
  border-radius: 30% 70% 35% 65% / 50%;
  background-color: #f1ef6a;
}

.header-user{
  font-size: 18px;
  font-weight: 200;
  display: flex;
  margin-right: 40px;
  background-color: #f0e4e4;
  padding: 16px 20px;
  border-radius: 30% 65% 35% 65% / 50%;
}

.header-title{
  font-size: 24px;
  font-weight: 200;
  padding: 16px 20px;
  border-radius: 30% 70% 35% 65% / 50%;
  background-color: #f1ef6a;
}

.header-nickname{
  padding: 10px;
  
}

.header-occupation{
  padding: 10px;
}

.logout{
  padding: 10px;
}



