<h1>Occupation Membership Details</h1>
<p>User: <%= @occupation_membership.user.name %></p>
<p>Occupation: <%= @occupation_membership.occupation.name %></p>
<p>Joined at: <%= @occupation_membership.created_at %></p>
