// Place all the styles related to the conditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.condition-all{
    display: flex;
    align-items: center;
}

.delete-conditions{
    margin: 50px 20px 0;
    padding: 5px 10px;
    height: 40px;
    width: 100px;
    font-size: 18px;
    background-color: #252525;
    border: 2px solid;
    border-top-color: #5b5b5b;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #5b5b5b;
    border-radius: 3px;
    text-align: center;
}

.condition-contrast{
    background-color: #dbd1d1;
    color: #252525;
    width: 130px;
    padding: 5px;
    margin: 0 0 10px 10px;
    overflow-y: hidden;
}

.condition-contrast option{
    background-color: #dbd1d1;
    color: #252525;
}

.form__condition{
    margin: 5px 0 10px 50px;
    padding: 5px 10px;
}

.condition-table{
    width: auto;
}

.search-contrast-btn{
    height: 40px;
    width: 100px;
    font-size: 18px;
    background-color: #252525;
    border: 2px solid;
    border-top-color: #5b5b5b;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #5b5b5b;
    border-radius: 3px;
    text-align: center;
    padding-top: 6px;
    margin: 30px 25px;
}

#show-form-button{
    height: 40px;
    width: 100px;
    font-size: 18px;
    background-color: #252525;
    border: 2px solid;
    border-top-color: #5b5b5b;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #5b5b5b;
    border-radius: 3px;
    text-align: center;
    padding-top: 6px;
    margin-left: 25px;
    margin-bottom: 30px;
}

.contrast{
    width: 60px;
    border: none;
    border-radius:20%;
}