.contact-submit{
    height: 40px;
    width: 140px;
    display: inline-block;
    font-size: 18px;
    background-color: #252525;
    border: 2px solid;
    border-top-color: #5b5b5b;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #5b5b5b;
    border-radius: 3px;
    text-align: center;
    padding-top: 6px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.contact-submit:hover {
    color: #f1ef6a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)
  }

.contact-form{
    background-color: #dbd1d1;
    color: #252525;
    width: 300px;
    height: 30px;
}

.contact-text{
    background-color: #dbd1d1;
    color: #252525;
    width: 300px;
    height: 90px;
    font-size: 16px;
}