// Place all the styles related to the imagings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signal{
    display: flex;
}

.condition-register{
    position: fixed;
    top: 100px;
    right: 0;
    width: 200px;
    height: calc(100vh - 100px);
    background-image: linear-gradient(to right, #292727, #353434);
    overflow-y: auto;
    padding-left: 25px;
}

.imaging-all{
    width: calc(100vw - 458px);
    height: calc(100vh - 100px);
    overflow-y: auto;
}

.imaging-main{
    margin-top: 50px;
}

.imaging-field{
    background-color: #dbd1d1;
    color: #252525;
    width: 250px;
    height: 60px;
}

.condition-register::-webkit-scrollbar {
    width: 10px; /* スクロールバーの幅 */
}

.condition-register::-webkit-scrollbar-track {
    background-color: rgba(136, 136, 136, 0); /* スクロールバーのトラック部分の背景色 */
}

.condition-register::-webkit-scrollbar-track:hover {
    background-color: #4a4848; /* スクロールバーのトラック部分のホバー時の背景色 */
}

.condition-register::-webkit-scrollbar-thumb {
    background-color: #353434; /* スクロールバーのスライダー（つまみ）の背景色 */
    border-radius: 10px; /* スクロールバーのスライダーの角丸 */
}

.condition-register::-webkit-scrollbar-thumb:hover {
    background-color: #242323; /* スクロールバーのスライダーのホバー時の背景色 */
}

.imaging-all::-webkit-scrollbar {
    height: 10px;
    width: 10px; /* スクロールバーの幅 */
}

.imaging-all::-webkit-scrollbar-track {
    background-color: rgba(136, 136, 136, 0); /* スクロールバーのトラック部分の背景色 */
}

.imaging-all::-webkit-scrollbar-track:hover {
    background-color: #5c5757; /* スクロールバーのトラック部分のホバー時の背景色 */
}

.imaging-all::-webkit-scrollbar-thumb {
    background-color: #383838; /* スクロールバーのスライダー（つまみ）の背景色 */
    border-radius: 10px; /* スクロールバーのスライダーの角丸 */
}

.imaging-all::-webkit-scrollbar-thumb:hover {
    background-color: #313030; /* スクロールバーのスライダーのホバー時の背景色 */
}

.search-field{
    width: 150px;
}

.signal-table{
    text-align: center;
    width: 100px;
}

.headline{
    font-size: 18px;
    height: 32px;
    padding: 4px 10px;
    width: 240px;
    background-image: linear-gradient(to right, #292727, rgba(136, 136, 136, 0));
    margin-bottom: 10px;
}

.side-headline{
    font-size: 18px;
    height: 32px;
    padding: 5px 10px;
    width: 160px;
    background-image: linear-gradient(to right, #201f1f, rgba(136, 136, 136, 0));
    margin-bottom: 10px;
}


.registration-text{
    height: 40px;
    width: 140px;
    display: inline-block;
    font-size: 18px;
    background-color: #252525;
    border: 2px solid;
    border-top-color: #5b5b5b;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #5b5b5b;
    border-radius: 3px;
    text-align: center;
    padding-top: 6px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.registration-text:hover {
    color: #f1ef6a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)
  }

.imaging-form{
    background-color: #dbd1d1;
    color: #252525;
    width: 150px;
    height: 30px;
}

.imaging-form option{
    color: #252525;
}

.imaging-text{
    background-color: #dbd1d1;
    color: #252525;
    width: 300px;
    height: 60px;
    font-size: 16px;
}

.signal-headline{
    text-align: center;
}

.signal-contrasts{
    text-align: center;
    margin: 2px 10px;
    border-radius: 30%;
}
